<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <appSettings>
    <add key="root" value="C:\Users\karl\Documents\src\front\front.Tests\fixtures" />
  </appSettings>

</configuration>

